@{
    ViewData["Title"] = "Home Page";
}

<!--Header-->
    <partial name="_HeaderWithSlider" />
<div class="container mb-5 mt-5">
    <!--Category-->
    <div class="mb-3">
    <vc:categories/>
    </div>
    <!--About-->
    <div class="home-box mt-5 mb-3">
        <vc:about />
    </div>
    <!--OurMenu-->
    <!--Testimonial-->
    <vc:testimonial />
    <!--Contact-->
    <div class="home-box mb-3">
    <vc:contact />
    </div>
</div>
<!--Footer-->
<partial name="_Footer" />

